@using OzzyEntityLibraries.Services;
@using OzzyEntityLibraries.DTO.Models;
@Html.AntiForgeryToken()
@model CustomersDTO
@{
    ViewBag.Title = "Yeni Müşteri Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script src="~/ckeditor5/ckeditor.js"></script>
<form method="post" class="form-horizontal">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>Yeni Müşteri Ekle</strong>
            </div>
            <div class="card-body card-block">

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class=" form-control-label">Müşteri Adı</label>
                    </div>

                    <div class="col-12 col-md-9">
                        <input type="text" id="text_input" name="ContactName" class="form-control" value="">

                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class=" form-control-label">Müşteri Telefon Numarası</label>
                    </div>

                    <div class="col-12 col-md-9">
                        <input type="text" id="text_input" name="Phone" class="form-control" value="">

                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class=" form-control-label">Müşteri Email</label>
                    </div>

                    <div class="col-12 col-md-9">
                        <input type="text" id="text_input" name="Email" class="form-control" value="">

                    </div>
                </div>


                <div class="col-md-12">

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Ekle
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm">
                            <i class="fa fa-ban"></i> Temizle
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
